<div class="col-sm-12">
    <div class="row card-group">
        <div *ngFor="let item of listCommerces">
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-header">
                        <strong> {{ item.name }} </strong> <br> NIT: {{ item.nit }} 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Horario de atención </h5>
                        <div class="list-group">
                            <p class="list-group-item">{{ item.days }}</p>
                            <p class="list-group-item" >{{ item.schedule }}</p>
                            <p class="list-group-item" >{{ item.sales }}</p>
                        </div>
                        <h5 class="card-title"> Información </h5>
                        <p> {{ item.owner }} Tel: {{ item.phone }} <br> {{ item.address }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>